# Annotated configuration for the RDW Group Processor.
#
# The spring application name is rdw-ingest-group-processor so this file should be
# named rdw-ingest-group-processor.yml when served by the configuration server.
#
# Properties that have a reasonable default value are commented out.
# Other properties are not commented out and must be provided.

# Archive configuration
# The group processor expects the student group payload to be archived and uses the database's
# native ability to directly load content from the archive. Although archiving may be done in a
# local file system the preferred solution is to use AWS S3, which requires credentials.
# For S3, the root should be the protocol and the bucket, e.g. s3://my-archive-bucket.
# The AWS access key should be for a programmatic AWS user. The secretKey should be encrypted.
# The bucket should be in the same region as the deployment (to reduce costs).
# There are no default values for these properties and they must be provided.
archive:
  root:
  cloud:
    aws:
      credentials:
        accessKey:
        secretKey:
      region:
        auto: false
        static: us-west-2

# The actuator end-point is on a different port with no security because it is expected to be
# exposed only in a private subnet. Use the default settings unless you really know what you
# are doing.
management:
#  security:
#    enabled: false
server:
#  port: 8008
#  tomcat:
#    max-connections: 2
#    max-threads: 2

# Spring application configuration.
spring:
  # Datasource configuration.
  # Use defaults for most of the settings, except server, username and password.
  # The url-server should be set to the host and port, e.g. localhost:3306 or
  # my-cluster.cluster-cimuvo5urx1e.us-west-2.rds.amazonaws.com:3306.
  datasource:
#    url: "\
#      jdbc:mysql://${spring.datasource.url-server:localhost:3306}/${spring.datasource.url-schema:warehouse}\
#      ?useSSL=${spring.datasource.use-ssl:false}\
#      &useLegacyDatetimeCode=${spring.datasource.use-legacy-datetime-code:false}\
#      &characterEncoding=${spring.datasource.character-encoding:utf8}\
#      &rewriteBatchedStatements=${spring.datasource.rewrite-batched-statements:true}\
#      &sessionVariables=${spring.datasource.session-variables:group_concat_max_len=10000}\
#      &connectTimeout=${spring.datasource.connect-timeout:10000}\
#      &socketTimeout=${spring.datasource.socket-timeout:130000}\
#      "
#    jdbcInterceptors: "QueryTimeoutInterceptor(queryTimeout=${spring.datasource.query-timeout:120})"
    url-server:
    username:
    password:
#    testWhileIdle: true
#    validationQuery: SELECT 1
#    validationQueryTimeout: 10000
#    driverClassName: com.mysql.jdbc.Driver
#    initialize: false
#    maxActive: 10
#    initialSize: 4

  # RabbitMQ configuration.
  # There are no default values. The host must be set based on the orchestration environment
  # e.g. rabbit-service, with appropriate username and password. The password should be encrypted.
  rabbitmq:
    host:
    username:
    password: